@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo{
        width: 30%;

        a{
            font-family: 'Jomhuria', cursive;
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height: 80px;
            color: #2E3341;

            &:hover{
                color: #F54329;
            }
        }
    }

    .header-menu{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            color: #000000;
            font-size: 18px;

            &:hover{
                color: #F54329;
            }
        }
    }

    .header-icon{
        width: 106px;
        height: 106px;

        img{
            width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;

        .header-menu{
            width: 100%;
        }

        .header-icon{
            position: absolute;
            right: 0;
            top: -35px;
        }
    }
}