*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: #1E1E1E;
}
.app{
    max-width: 1351px;
    background: #E1E3E9;
    margin: 50px auto;
    padding: 50px 90px;
    box-sizing: border-box;
}